﻿
<main class="container">
	<div ui-view="searchPanel"></div>
	<section layout="row" flex>
		<md-content flex layout-padding class="main">
			<div layout="column" layout-align="top center" ng-controller="historyCampainsTableController as hcCtrl">
				<md-progress-linear ng-hide="hcCtrl.loaded" md-mode="query"></md-progress-linear>
				<mdt-table class="full" table-card="{visible: true, title: 'Campaigns History', columnSelector: true, actionIcons: true}"
									 animate-sort-icon="true"
									 expandable-rows="false"
									 selectable-rows="true"
									 show-btn-add="true"
									 btn-add-1-on-click="'ON_HISTORY_CAMPAIN_ROW_ADDCLICK'"
									 alternate-headers="'contextual'"
									 mdt-row-paginator="hcCtrl.paginatorCallback(page, pageSize, options)"
									 paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50,100]}"
									 delete-row-callback="hcCtrl.deleteRowCallBack(rows)"
									 mdt-trigger-request="hcCtrl.getLoadResultsCallback(loadPageCallback)"
									 row-selection-click="'ON_HISTORY_CAMPAIN_ROW_CLICK'"
									 selected-row-callback="hcCtrl.selectedRowCallback"
									 mdt-row="{
													'table-row-id-key': 'Id',
													'column-keys': [
														'Id',
														'Status',
														'NetworkName',
														'Name',
														'Os',
														'Geo',
														'Payout',
														'DailyCap',
														'TotalCap',
														'StartDate',
														'DeliveredOn',
														'ManagedBy',
														'Kpi',
														'Notes',
													]
											}">
					<mdt-header-row>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Id</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Status</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Network Name</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Name</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Os</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Geo</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Payout</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Daily Cap</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Total Cap</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Start Date</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Deliverd On</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Managed by</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Kpi</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Notes</mdt-column>
					</mdt-header-row>
					<mdt-custom-cell column-key="StartDate">
						<div style="width:180px;">{{value | date:"dd/MM/yyyy 'at' h:mma" }}</div>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="DeliveredOn">
						<span style="white-space:nowrap;overflow:hidden; max-width:200px;text-overflow:ellipsis;">
							{{value}}
						</span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="Kpi">
						<span style="white-space:nowrap;overflow:hidden; max-width:200px;text-overflow:ellipsis;">
							{{value}}
						</span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="Notes">
						<span style="white-space:nowrap;overflow:hidden; max-width:200px;text-overflow:ellipsis;">
							{{value}}
						</span>
					</mdt-custom-cell>
				</mdt-table>
			</div>
		</md-content>
	</section>
</main>
