﻿<md-dialog class="dialog-template">
	<md-dialog-header style="padding:10px;">
		<h5 class="uppercase">{{::Title}}</h5>
	</md-dialog-header>
	<md-dialog-content>
		<div flex layout-padding>
			<form name="historycampaindialogform" novalidate>
				<div layout="row">
					<div layout="column" layout-margin flex="33">
						<md-input-container flex>
							<input ng-model="historyCampain.Name" type="text" required placeholder="Name" name="HSName" />
						</md-input-container>
						<md-input-container flex>
							<md-select placeholder="network" ng-model="historyCampain.Network" required style="font-size:1.6rem">
								<md-option ng-value="network" ng-repeat="network in Networks.Networks">
									{{network.Name}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container flex>
							<input ng-model="historyCampain.Payout" type="number" step="0.01" placeholder="Payout"  name="HSPayout" />
						</md-input-container>
						<md-input-container flex>
							<input ng-model="historyCampain.DailyCap" type="number" step="10" placeholder="Daily Cap"  name="HSDailyCap" />
						</md-input-container>
						<md-input-container flex>
							<input ng-model="historyCampain.TotalCap" type="number" step="100" placeholder="Total Cap"  name="HSTotalCap" />
						</md-input-container>
					</div>
					<div layout="column" layout-margin flex="33">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex>
							<label>os</label>
							<md-select multiple="true" placeholder=""  ng-model="historyCampain.Os" style="font-size:1.6rem" flex="33">
								<md-option ng-value="pl" ng-repeat="pl in Platforms">
									{{pl.Name}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex>
							<label>geo</label>
							<md-select multiple="true" placeholder=""  ng-model="historyCampain.Geo" style="font-size:1.6rem" flex="33">
								<md-option ng-value="gos" ng-repeat="gos in Countries">
									{{gos}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex>
							<label>status</label>
							<md-select multiple="false" placeholder=""  ng-model="historyCampain.Status" style="font-size:1.6rem" flex="33">
								<md-option ng-value="status" ng-repeat="status in Statuses">
									{{status}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex>
							<label>Delivered On</label>
							<md-select multiple="true" placeholder=""  ng-model="historyCampain.DeliveredOn" style="font-size:1.6rem" flex="33">
								<md-option ng-value="gots" ng-repeat="gots in TrafficSources">
									{{gots.Name}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex>
							<label>Managed By</label>
							<md-select multiple="false" placeholder=""  ng-model="historyCampain.ManagedBy" style="font-size:1.6rem" flex="33">
								<md-option ng-value="gou" ng-repeat="gou in Users">
									{{gou.UserName}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div layout="column" layout-margin flex="33">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex>
							<label>Start Date</label>
							<md-datepicker ng-model="historyCampain.StartDate"  md-placeholder="enter date"></md-datepicker>
						</md-input-container>
						<md-input-container flex>
							<textarea ng-model="historyCampain.Kpi" style="overflow-y:scroll;max-height:100px;" md-maxlength="150" placeholder="Kpi" rows="2" name="HSKpi" md-select-on-focus></textarea>
						</md-input-container>
						<div style="height:10px;"></div>
						<md-input-container>
							<textarea ng-model="historyCampain.Notes" style="overflow-y:scroll;max-height:100px;" md-maxlength="150" placeholder="Notes" rows="2"  name="HSNotes" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-if="isUpdate" ng-click="update()" ng-disabled="historycampaindialogform.$invalid" style="margin-right:20px;">
			Update
		</md-button>
		<md-button ng-if="!isUpdate" ng-click="saveAndCloseDialog()" ng-disabled="historycampaindialogform.$invalid" style="margin-right:20px;">
			Save
		</md-button>
		<md-button ng-click="closeDialog()" style="margin-right:20px;">
			Cancel
		</md-button>
	</md-dialog-actions>
</md-dialog>