﻿body {
	background-color: #333;
}

.logo__title:before {
	content: "" !important;
}

.logo__title:after {
	content: "" !important;
}

.logo__title {
	font-size: 0.8em !important;
}

.swagger-section #api_selector {
	margin-top: 15px;
}

.swagger-section #explore {
	background-color: #cc9a20;
}

	.swagger-section #explore:hover {
		background-color: #e4b33a;
	}

.logo__img {
	display: none !important;
}

.swagger-section #header {
	background-color: #870505;
	padding: 9px 14px 19px 14px;
	min-width: 775px;
	height: 45px !important;
}

#swagger-ui-container {
	border-top: 20px solid #999 !important;
	background-color: #fff;
	padding: 50px !important;
}

.swagger-section #header #logo .logo__title {
	display: inline-block !important;
	padding: 0 !important;
	margin-top: 20px !important;
}
