﻿<footer ng-if="false" class="footer is-fixed is-fixed--bottom m-show" ng-controller="filtersController as fCtrl">
	<md-button class="md-primary md-raised btn--full btn--flat footer__btn" aria-label="Filters" ng-click="fCtrl.showListBottomSheet()">
		Filters
	</md-button>
</footer>
<div layout="column" ng-if="false" flex class="off-set-canvas" ng-controller="menuController as mCtrl">
	<md-sidenav class="md-sidenav-left panel" md-component-id="left" md-swipe-left="mCtrl.closeLeftNavPanel()" md-is-locked-open="false">
		<md-toolbar layout="row">
			<div class="md-toolbar-tools panel__header">
				<h2 class="panel__header__title">
					<span>Menu</span>
				</h2>
				<span flex></span>
				<md-button class="md-icon-button btn panel__header__btn" aria-label="Close Side Panel" ng-click="mCtrl.closeLeftNavPanel()">
					<md-icon class="md-default-theme material-icons panel__header__icon">&#xE5CD;</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content class="panel__content">
			<md-list class="panel__list list">
				<md-list-item class="panel__list__item list__item">
					<p class="list__item__title">Reports</p>
					<md-icon class="md-default-theme material-icons list__item__icon">&#xE0C9;</md-icon>
				</md-list-item>
				<md-divider />
				<md-list-item>
					<p class="list__item__title">Analytics</p>
					<md-icon class="md-default-theme material-icons list__item__icon">&#xE878;</md-icon>
				</md-list-item>
				<md-divider />
				<md-list-item>
					<p class="list__item__title">Business</p>
					<md-icon class="md-default-theme material-icons list__item__icon">&#xE251;</md-icon>
				</md-list-item>
				<md-divider />
			</md-list>
		</md-content>
	</md-sidenav>
	<md-sidenav class="md-sidenav-right panel" md-component-id="right" md-swipe-right="mCtrl.closeRightNavPanel()" md-is-locked-open="false">
		<md-toolbar layout="row">
			<div class="md-toolbar-tools panel__header">
				<h2 class="panel__header__title">
					<span>User Name</span>
				</h2>
				<span flex></span>
				<md-button class="md-icon-button btn panel__header__btn" aria-label="Close Side Panel" ng-click="mCtrl.closeRightNavPanel()">
					<md-icon class="md-default-theme btn panel__header__icon" class="material-icons">&#xE5CD;</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item>
					<p>Messages</p>
					<md-icon class="md-default-theme material-icons list__item__icon">&#xE0BE;</md-icon>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<p>Notifications</p>
					<md-icon class="md-default-theme material-icons list__item__icon">&#xE7F4;</md-icon>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item>
					<p>Profile</p>
					<md-icon class="md-default-theme material-icons list__item__icon">&#xE7FD;</md-icon>
				</md-list-item>
				<md-divider></md-divider>
			</md-list>
		</md-content>
	</md-sidenav>
</div>