﻿<main class="container" ng-controller="loginController as lCtrl">
	<div layout="row" layout-align="center center"></div>
	<div class="login">
		<form name="clientLogin">
			<md-input-container>
				<md-icon md-font-library="material-icons" class="md-light md-48">input</md-icon>
				<input ng-model="loginInfo.userName" type="text" placeholder="username" ng-required="true" name="userName" />
				<div ng-messages="clientLogin.userName.$error">
					<div ng-message="required">Your username is required.</div>
				</div>
			</md-input-container>
			<md-input-container >
				<md-icon md-font-library="material-icons" class="md-light md-48">input</md-icon>
				<input ng-model="loginInfo.password" type="password" placeholder="password" ng-required="true" name="userPassword">
				<div ng-messages="clientLogin.userPassword.$error">
					<div ng-message="required">Your password is required.</div>
				</div>
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="lCtrl.login()">Login</md-button>
		</form>
	</div>
</main>