﻿<md-card id="profile-card">
	<md-card-title>
		<md-card-title-text>
			<small>Hello {{userName}}</small>
			<span layout="row" class="hyp-placeholder">
				<a ng-click="mCtrl.logout()"><small>Log out</small></a>
				<span style="width:5px;"></span>
				<a ng-click=""><small>Profile</small></a>
			</span>
		</md-card-title-text>
		<md-card-title-media>
			<div class="md-media-xs card-media" style="padding-left:3px;">
				<md-icon class="material-icons header__icon header-icon-user">&#xE7FD;</md-icon>
			</div>
		</md-card-title-media>
	</md-card-title>
</md-card>