﻿
<md-toolbar class="sidenav-fixed" ng-class="menuExpanded ? 'expanded' : ''" ng-controller="sidenavController as navbarCtrl">
	<md-sidenav class="md-sidenav-left panel" md-component-id="left" md-is-locked-open="true">
		<md-toolbar layout="column">
			<span flex></span>
			<md-divider></md-divider>
			<div layout="row" flex>
				<div class="menu-item-label"></div>
				<span class="menu-item-gutter" flex></span>
				<div class="menu-item-icon">
					<md-button ng-click="menuExpanded = !menuExpanded">
						<md-icon class="md-default-theme material-icons">menu</md-icon>
					</md-button>
				</div>
			</div>
			<md-divider></md-divider>
			<div layout="row" ng-class="{puni: location == 'offers'}" flex>
				<button class="navbar-btn" layout="row" flex ng-click="navbarCtrl.goto('offers')">
					<div class="menu-item-label">Offers</div>
					<span class="menu-item-gutter" flex></span>
					<div class="menu-item-icon">
						<md-button ng-click="">
							<md-icon class="md-default-theme material-icons">local_offer</md-icon>
						</md-button>
						<md-tooltip>Offers</md-tooltip>
					</div>
				</button>
			</div>
			<md-divider></md-divider>
			<div layout="row" ng-class="{puni: location == 'networks'}" flex>
				<button class="navbar-btn" layout="row" flex ng-click="navbarCtrl.goto('networks')">
					<div class="menu-item-label">Networks</div>
					<span class="menu-item-gutter" flex></span>
					<div class="menu-item-icon">
						<md-button ng-click="">
							<md-icon class="md-default-theme material-icons">cast_connected</md-icon>
						</md-button>
						<md-tooltip>Networks</md-tooltip>
					</div>
				</button>
			</div>
			<md-divider></md-divider>
			<div layout="row" ng-class="{puni: location == 'trafficsources'}" flex>
				<button class="navbar-btn" layout="row" flex ng-click="navbarCtrl.goto('trafficsources')">
					<div class="menu-item-label">T. Sources</div>
					<span class="menu-item-gutter" flex></span>
					<div class="menu-item-icon">
						<md-button ng-click="">
							<md-icon class="md-default-theme material-icons">device_hub</md-icon>
						</md-button>
						<md-tooltip>Traffic Sources</md-tooltip>
					</div>
				</button>
			</div>
			<md-divider></md-divider>
			<div layout="row" ng-class="{puni: location == 'campaigns'}" flex>
				<button class="navbar-btn" layout="row" flex ng-click="navbarCtrl.goto('campaigns')">
					<div class="menu-item-label">Campaigns</div>
					<span class="menu-item-gutter" flex></span>
					<div class="menu-item-icon">
						<md-button ng-click="">
							<md-icon class="md-default-theme material-icons"><i class="material-icons">card_travel</i></md-icon>
						</md-button>
						<md-tooltip>Campaigns</md-tooltip>
					</div>
				</button>
			</div>
			<md-divider></md-divider>
			<div layout="row" ng-class="{puni: location == 'historycampaigns'}" flex>
				<button class="navbar-btn" layout="row" flex ng-click="navbarCtrl.goto('historycampaigns')">
					<div class="menu-item-label">History</div>
					<span class="menu-item-gutter" flex></span>
					<div class="menu-item-icon">
						<md-button ng-click="">
							<md-icon class="md-default-theme material-icons"><i class="material-icons">history</i></md-icon>
						</md-button>
						<md-tooltip>Campaigns History</md-tooltip>
					</div>
				</button>
			</div>
			<md-divider></md-divider>
		</md-toolbar>
	</md-sidenav>
</md-toolbar>