﻿<md-toolbar ng-controller="menuController as mCtrl" ng-show="isAuth">
	<div class="md-toolbar-tools header__toolbar">
		<md-button class="header__btn md-icon-button" aria-label="Sections" ng-click="mCtrl.openLeftNavPanel()" ng-if="true">
			<img src="/assets/img/agency_white_128.png" alt="Alternate Text" />
			<!--<md-icon class="md-default-theme header__icon">&#xE5D2;</md-icon>-->
		</md-button>
		<h1 class="brand-logo header__logo">
			<span>{{:: mCtrl.Title}}</span>
		</h1>
		<span flex></span>
		<div>
			<div ng-include src="'./app/templates/profilecard.html'"></div>
		</div>
		<div class="m-show" ng-if="false">
			<md-button class="md-icon-button header__btn" aria-label="Profile" ng-click="mCtrl.openRightNavPanel()">
				<md-icon class="material-icons header__icon">&#xE5D4;</md-icon>
			</md-button>
		</div>
	</div>
</md-toolbar>