/* =======================
   State
   
   Different types of states: 
   class-based-states(.is-active), 
   pseudo-classes(:hover, :focus), 
   attribute states(data-state="rotating")
   ======================= */

/*
** Reset default
*/

//Font animation resize window
h1,h2,h3,h4,h5,h6{
	transition: font 0.35s ease;
}

// Link animation color 
a{
	transition: color 0.25s ease;
}

/*
** Animation Vars
*/

$ani-entrance: cubic-bezier(0.47, 0, 0.745, 0.715);
$ani-exit: cubic-bezier(0.39, 0.575, 0.565, 1);


/*
** Show/hidden Mobile
*/
.m-show{

        @include breakpoint('sm'){
            display: none;
        }
}
.m-hide{
    display: none;

        @include breakpoint('sm'){
            display: inherit!important;
        }
}

.panel{
    &--filters{

        &.ng-enter{
            transform: translate3d(0, 100%, 0)!important;
            
                @include breakpoint('sm'){
                    transform: translate3d(0, 0, 0)!important;
                }

        }
        
        &.ng-enter-active{
            transform: translate3d(0, 0, 0)!important;

        }
        
        &.ng-enter-active{
            transform: translate3d(0, 0, 0)!important;
        }
        
        &.ng-enter-active{
            transform: translate3d(0, 0, 0)!important;
        }
        
        &.ng-leave-active{
                
                @include breakpoint('sm'){
                    transform: translate3d(0, 0, 0)!important;
                }
        }

        &.ng-enter.left{
            transform: translate3d(100%, 0, 0)!important;
        }
        
        &.ng-enter-active.left{
            left: 0;
            bottom: auto;
            top: 0;
            right: auto;
            transform: translate3d(0, 0, 0)!important;
        }
        
        &.ng-leave-active.left{
            transform: translate3d(100%, 0, 0)!important;
            
        }
    }
}


.is-fixed{
    
    position: fixed;
    &--bottom{
        bottom: 0;
    }
    
}