﻿<main class="container">
	<section layout="row" flex>
		<md-content flex layout-padding class="main">
			<div layout="column" layout-align="top center" ng-controller="trafficsourceTableController as tCtrl">
				<md-progress-linear ng-hide="tCtrl.loaded" md-mode="query"></md-progress-linear>
				<mdt-table class="full" table-card="{visible: true, title: 'Traffic Sources', columnSelector: true, actionIcons: false}"
									 animate-sort-icon="true"
									 expandable-rows="false"
									 selectable-rows="false"
									 alternate-headers="'contextual'"
									 mdt-trigger-request="tCtrl.getLoadResultsCallback(loadPageCallback)"
									 mdt-row-paginator="tCtrl.paginatorCallback(page, pageSize, options)"
									 paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50,100]}"
									 selected-row-callback="tCtrl.selectedRowCallback(rows)"
									 mdt-row="{
													'table-row-id-key': 'Id',
													'column-keys': [
														'Id',
														'Name',
													]
											}">
					<mdt-header-row>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Id</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Name</mdt-column>
					</mdt-header-row>
				</mdt-table>
			</div>
		</md-content>		
	</section>
</main>