﻿@using System.Web.Optimization

<body ng-app="agencyapp" ng-cloak>
	<md-toolbar class="md-hue-2" md-scroll-shrink ng-if="true" ng-controller="ToolbarTopController as tt_ctrl">
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" aria-label="toggle menu">
				<md-icon md-font-icon="zmdi-menu zmdi-hc-2x" class="zmdi" style="color:white" alt=""></md-icon>
			</md-button>
			<h3 class="white" flex md-truncate>{{::tt_ctrl.name}}</h3>
			<md-button class="md-icon-button" aria-label="more">
				<md-icon md-font-icon="zmdi-more-vert zmdi-hc-2x" class="zmdi" style="color:white" alt="more-vert"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<section layout="row" flex ng-controller="ContentController as c_ctrl">
		<md-sidenav class="md-sidenav-left" md-component-id="left"
								md-disable-backdrop md-whiteframe="4">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<span flex></span>
					<md-button ng-click="toggleLeft()" class="md-accent" style="width:20px;" aria-label="close menu">
						<md-icon md-font-icon="zmdi-close-circle zmdi-hc-2x" class="zmdi" style="color:white" alt="close menu"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content layout-margin>
				...
			</md-content>
		</md-sidenav>
		<md-content flex="20" layout-padding id="" ng-controller="NetworkController as network_ctrl">
			<md-toolbar md-scroll-shrink ng-if="true">
				<div class="md-toolbar-tools">
					<h3 class="white">{{network_ctrl.Title}}</h3>
					<span flex></span>
					<div class="btn-group">
						@*<md-button aria-label="Add new Network" ng-click="network_ctrl.showNewNetworkDialog($event)">
							<md-icon md-font-icon="zmdi zmdi-plus-circle zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>*@
						<md-button aria-label="Edit campain" ng-click="network_ctrl.showEditNetworkDialog($event)">
							<md-icon md-font-icon="zmdi zmdi-edit zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>
						@*<md-button aria-label="Delete Network">
							<md-icon md-font-icon="zmdi zmdi-delete zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>*@
					</div>
				</div>
			</md-toolbar>
			<div ag-grid="network_ctrl.gridOptions" class="ag-dark" style="height: 300px"></div>
		</md-content>
		<md-content flex="20" layout-padding id="" ng-controller="TrafficSourcesController as trafficSourcesGrid_ctrl">
			<md-toolbar md-scroll-shrink ng-if="true">
				<div class="md-toolbar-tools">
					<h3 class="white">{{trafficSourcesGrid_ctrl.Title}}</h3>
					<span flex></span>
					<div class="btn-group">
						@*<md-button aria-label="Add new traffic source" ng-click="trafficSourcesGrid_ctrl.showNewTrafficSourceDialog($event)">
							<md-icon md-font-icon="zmdi zmdi-plus-circle zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>*@
						<md-button aria-label="Edit campain" ng-click="trafficSourcesGrid_ctrl.showEditTrafficSourceDialog($event)">
							<md-icon md-font-icon="zmdi zmdi-edit zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>
						@*<md-button aria-label="Delete traffic source">
							<md-icon md-font-icon="zmdi zmdi-delete zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>*@
					</div>
				</div>
			</md-toolbar>
			<div ag-grid="trafficSourcesGrid_ctrl.gridOptions" class="ag-dark" style="height: 300px"></div>
		</md-content>
		<md-content flex layout-padding id="" ng-controller="OffersController as offersGrid_ctrl">
			<md-toolbar md-scroll-shrink ng-if="true">
				<div class="md-toolbar-tools">
					<h3 class="white">{{offersGrid_ctrl.Title}}</h3>
					<span flex></span>
					<div class="btn-group">
						<md-button aria-label="Add new offer" ng-click="offersGrid_ctrl.ShowNewCampainByOfferDialog($event)">
							<md-icon md-font-icon="zmdi zmdi-plus-circle zmdi-hc-2x" class="zmdi" style="color:white">
								<span style="font-size: 20px;font-family: Roboto,Helvetica Neue,sans-serif;text-transform: capitalize;">New Campain</span>
							</md-icon>
						</md-button>
					</div>
				</div>
			</md-toolbar>
			<div ag-grid="offersGrid_ctrl.gridOptions" class="ag-dark" style="height: 300px"></div>
		</md-content>
	</section>
	<section layout="row" flex ng-controller="ContentController as c_ctrl">
		<md-content flex="" layout-padding id="" ng-controller="CampainController as campaignGrid_ctrl">
			<md-toolbar md-scroll-shrink ng-if="true">
				<div class="md-toolbar-tools">
					<h3 class="white">{{campaignGrid_ctrl.Title}}</h3>
					<span flex></span>
					<div class="btn-group">
						<md-button aria-label="Add new campain" ng-click="campaignGrid_ctrl.showNewCampainDialog($event)">
							<md-icon md-font-icon="zmdi zmdi-plus-circle zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>
						<md-button aria-label="Edit campain" ng-click="campaignGrid_ctrl.showEditCampainDialog($event)">
							<md-icon md-font-icon="zmdi zmdi-edit zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>
						<md-button aria-label="Delete campain" ng-click="campaignGrid_ctrl.showDeleteCampainDialog($event)">
							<md-icon md-font-icon="zmdi zmdi-delete zmdi-hc-2x" class="zmdi" style="color:white"></md-icon>
						</md-button>
					</div>
				</div>
			</md-toolbar>
			<div ag-grid="campaignGrid_ctrl.gridOptions" class="ag-dark" style="height: 300px"></div>
		</md-content>
	</section>
	@section Styles{
		<link href="~/Content/CSS/style.css" rel="stylesheet" type="text/css" />
	}
	@section Scripts{
		@Scripts.Render("~/bundles/app")
	}
</body>

