/*
** Colors
*/

// Wireframes palette
/*
$color0: #c6cbd7;//Ultra-light
$color1: #b7bcc9;//Light
$color2: #9198a7;//Normal
$color3: #555e6f;//Dark
$color4: #3e4758;//Ultra-dark
*/

$tmp-color: #00FFD2; //Green #00ff74
$tmp-color2: #3273dc; // Blue
$tmp-colorGradient: #04E59E; //Green
$tmp-colorGradient2: #357AE9; //Blue



// Colors palette
$color0: #F2F2F2; //Ultra-light
$color1: #b7bcc9; //Light
$color2: #9198a7; //Normal
$color3: #555e6f; //Dark
$color4: #001001; //Ultra-dark

//Bluerground
$bluerGroundColours: $color0, $color1, $color2, $color3, $color4;

/*
** Reset
*/

a,
a:hover,
a:link,
a:visited,
a:focus{
	color: $color4;
}

body{
	color: $color3;
}
.wrapper{
	@include linear-gradient(to top, rgba($color0, 0.35) 0%, rgba($color2, 0.15) 100%);
}

/*
** Header
*/

.header{
	&__btn{
		color: $color0!important;
		fill: $color0!important;
	}
	&__icon{
		color: $color0!important;
		fill: $color0!important;
	}
	&__logo{
		color: $color0!important;
	}
}

/*
** Search bar
*/
.search-bar{
	background-color: $color0;
}

.text-enable{
	color: $color4;
}
.text-disable{
	color: $color2;
}

/*
** Menu panel
*/

.panel{
	&__header{
		color: $color0;

		&__btn{
			color: $color0!important;
		}
		&__icon{
			color: $color0!important;
			fill: $color0!important;
		}

		&__title{

			color: $color0;

		}
	}
	
}

#content-filter{
	.btn--full{
		
		span{
            color: $color0;
        }

	}
}

/*
** Footer
*/

.footer{

    &__btn{

       span{
            color: $color0;
        }

    }
}

/*
** List
*/

.list{
    &--panel{
        &__item{
            border-color: $color1;
        }
    }
}