/*
** Typography
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

*{
    font-family: 'Roboto', sans-serif;
}


/*
** Header
*/

.header{
    &__logo{
        
        span{
            @include font-size(2);
            text-transform: uppercase;
            font-weight: 700;
        }
       
    }
}


/*
** Footer
*/
.footer{

    &__btn{
        @include line-height(4.4);
       span{
            @include font-size(2);
            font-weight: 700;
        }

    }
}

/*
** Panel
*/

.panel{
    &__header{
        &__title{
                
            span{
                @include font-size(2);
                text-transform: uppercase;
            }
            
        }
    }
    

}

#content-filter{

    .btn--full{
        @include line-height(4.4);
       span{
            @include font-size(2);
        }

    }
}