﻿@base-text-color: #fff;
@base-secondary-color: #333;

@base-ripple-color: rgba(0,0,0,0.54);
@base-inactive-color: rgba(255, 255, 255, 0.54);
@base-blue: #01579b;
@light-blue: #396f9b;

@grey: #333;
@main-menu-expanded: 200px;
@main-menu-collapsed: 50px;

@state-row-error: #faa0a0;
@state-row-pending: #fcf0ab;
@expandable-search-search-open-height: 80px;
@campain-expandable-search-search-open-height: 150px;
@font-size: 16px;


.uppercase{
	text-transform:uppercase;
}
.header__btn, .header__icon {
	color: @base-blue !important;
	fill: @base-blue !important;
}

.base-text-color {
	color: #fff;
}

#profile-card {
	md-card-title {
		padding-top: 10px;
		padding-bottom: 10px;

		md-card-title-text {
			& > small {
				font-size: .5em;
			}

			.hyp-placeholder {
				& > a > small {
					font-size: .8em;
					color: @base-blue;
					text-decoration: underline;
					cursor: pointer;

					&:hover {
						color: red;
					}
				}
			}
		}
	}
}

md-checkbox.md-default-theme .md-ink-ripple,
md-checkbox .md-ink-ripple {
	color: @base-ripple-color;
	background-color: @base-text-color;
	border-radius: 3px;
	fill: @base-text-color;
}

md-checkbox.md-default-theme.md-checked .md-icon:after,
md-checkbox.md-checked .md-icon:after,
.mdt-column-selector md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon:after,
md-checkbox:not([disabled]).md-primary.md-checked .md-icon:after {
	border-color: @base-text-color;
}

.mdtTableContainer tr th, .mdtTableContainer .mdt-footer {
	text-transform: uppercase;
	background-color: @base-secondary-color;
	color: @base-text-color;
}

.mdtTableContainer tr th.detail-secondary-toolbar {
	background-color: @base-blue;
	text-align: left;
}

.mdtTableContainer {
	.mdt-header-alternate {
		
	}
	tr {

		th {
			background-color: @base-secondary-color;
			color: @base-text-color;

			.hoverSortIcons, .sortedColumn {
			}
		}
	}

	.mdt-header {
		span {
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	.mdt-header ng-md-icon {
		fill: @base-blue !important;
		color: @base-blue !important;
	}

	.mdt-footer {
		background-color: @base-secondary-color;
		color: @base-text-color;

		.mdt-pagination {
			fill: @base-text-color !important;
			color: @base-text-color !important;
		}
	}

	ng-md-icon {
		fill: @base-blue !important;
		color: @base-blue !important;
	}

	.md-inactive {
		ng-md-icon {
			fill: @base-inactive-color !important;
		}
	}

	.checkboxCell {
		padding-left:10px;

	}
}

.mdtTableContainer tr.row-rejected,
.mdtTableContainer tr.row-rejected:hover td,
.mdtTableContainer tr.row-rejected td {
	background-color: @state-row-error;
}

.mdtTableContainer tr.row-pending,
.mdtTableContainer tr.row-pending:hover td,
.mdtTableContainer tr.row-pending td {
	background-color: @state-row-pending;
}

.btn-request-access {
	border-radius: 5px;
	padding: 3px;
	background-color: @base-blue;
	color: @base-text-color;

	&:hover {
		background-color: @light-blue;
	}

	md-icon {
		color: @base-text-color;
	}
}

md-select.md-default-theme .md-select-icon,
md-select .md-select-icon {
	fill: @base-text-color !important;
	color: @base-text-color !important;
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
	background-color: @base-blue;
}

.appIcon {
	height: 50px;
	width: 50px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.appIcon[src=""] {
	visibility: hidden;
}

.md-input-container-no-error-spacer .md-errors-spacer {
	display: none;
}

.mdt-column-chooser-button ng-md-icon {
	fill: @grey !important;
}

.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised {
	color: @base-text-color !important;
}

.md-chips {
	.md-chip-input-container {
		input:not([type]),
		input[type=email],
		input[type=number],
		input[type=tel],
		input[type=text],
		input[type=url],
		input:not([type]):focus,
		input[type=email]:focus,
		input[type=number]:focus,
		input[type=tel]:focus,
		[type=text]:focus,
		input[type=url]:focus {
			width: 90vw !important;
			/*width: 90% !important;*/
		}
	}
}

.wrapper {
	background-image: none;
}

.expandable-cell {
	padding: 0 !important;
}

md-button .expand-btn {
	width: 33px;
}

.md-virtual-repeat-container {
	height: 300px !important;
}

.copy-value {
	padding: 5px;
	border-radius: 25px;
	border: 1px dashed transparent;

	&:hover {
		border: 1px dashed #ccc;
		color: @base-secondary-color;
		cursor: pointer;
		padding: 5px;
	}
}

.copy-text {
	.md-toast-content {
		background-color: #b3e5fc;
		color: #fff;
		font-weight: bold;
		border: 1px solid transparent;

		span {
			text-align: center;
		}
	}
}

#search-sub-header {
	.md-subheader-inner {
		padding: 0;
		width: 100%;
	}
}

md-card.detail-card {
	md-card-title {
		md-card-title-text {
		}
	}

	.md-headline {
		color: @base-blue;
	}

	.detail-label {
		text-transform: uppercase;
		font-weight: 500;
		color: @base-blue;
		padding: 5px;
	}

	.detail-value {
		padding: 5px;
	}

	.detail-value.copy-value {
		padding: 5px;
		border-radius: 25px;
		border: 1px dashed transparent;

		&:hover {
			border: 1px dashed #ccc;
			color: @base-secondary-color;
			cursor: pointer;
		}
	}

	table.creativity-table {
		tr {
			td {
				background: #EEEEEE;
				border: 1px solid #ccc;

				a.creativity-hyperlink {
					display: inline-block;
					text-overflow: ellipsis;
					overflow-x: hidden;
					max-width: 350px;
				}
			}
		}
	}
}

#tagsForm {
	.md-chips .md-chip-input-container {
		padding: 0 !important;
		margin: 0 !important;
	}
}

.login {
	font-size: 2em !important;

	form {
		width: 340px;
		margin: 33vh auto;
		padding: 3em 2em 2em 2em;
		background: #fafafa;
		border: 1px solid #ebebeb;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
	}

	md-input-container {
		width: 90% !important;
	}

	md-icon, md-input-container > md-icon {
		color: #c6c6c6;
	}

	md-input-container.md-icon-float {
		margin-bottom: 10px;
	}

	md-input-container > md-icon:not(.md-input-invalid) {
		color: #4a89dc;
	}

	md-input-container.md-input-invalid > md-icon {
		color: red;
	}

	.md-button.md-raised:not([disabled]) {
		width: 95%;
		margin-top: 20px;
		height: 48px;
		color: white;
	}
}

.rotated {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.shell-container {
	overflow-y: hidden;
}

.main-sidebar {
	background-color: @base-blue;
	height: 100vh;
	overflow-y: hidden;
}

md-toolbar.sidenav-fixed {
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	width: @main-menu-collapsed;
	overflow-x: hidden;

	button {
		text-transform: uppercase;
		background-color: transparent;

		&:hover {
			background-color: rgba(158,158,158,0.2);
		}

		div button:hover {
			background-color: transparent !important;
		}
	}

	.menu-item-label {
		margin: auto 10px;
		display: none;
	}

	.menu-item-gutter {
		display: none;
	}

	.menu-item-icon {
		.md-button {
			margin: 0;
			min-width: 0;
			height: 50px;
			width: 50px;

			md-icon {
				color: #fff;
			}
		}

		text-align: center;
	}

	md-toolbar, md-sidenav {
		width: @main-menu-collapsed;
	}
}

md-toolbar.sidenav-fixed.expanded {
	width: @main-menu-expanded;

	.menu-item-label {
		display: inline-block;
		max-width: 120px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: @base-text-color;
	}

	.menu-item-gutter {
		display: flex;
	}

	md-toolbar, md-sidenav {
		width: @main-menu-expanded;
	}
}

.ng-viewport {
	&.ng-enter {
		transition: 1s;
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}
}

.expandable-search {
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	height: 0px;
	overflow: hidden;
}

.expandable-search.search-open {
	height: @expandable-search-search-open-height;
}

.campain-search {
	.expandable-search.search-open {
		margin-top: 20px;
		height: @campain-expandable-search-search-open-height;
	}
}

.dialog-template {
	width: 100%;
	font-size: @font-size;

	md-dialog-header, md-dialog-actions {
		background-color: @base-blue;
		color: @base-text-color;
	}

	md-dialog-header {
		border-bottom: 5px solid @light-blue;
	}

	md-dialog-actions {
		border-top: 5px solid @light-blue;
	}

	.md-button[disabled]{
		background-color: @base-inactive-color;
		color: @base-blue;

	}
}

.puni {
	background-color: rgba(158,158,158,0.2);
}

@media (min-width: 48.063em) {
	.main {
		padding-top: 0;
	}
}
