﻿@import "vars.less";

.mdtTableContainer tr th, .mdtTableContainer .mdt-footer {
	text-transform: uppercase;
	background-color: @base-secondary-color;
	color: @base-text-color;
}

.mdtTableContainer tr th.detail-secondary-toolbar {
	background-color: @base-blue;
	text-align: left;
}

.mdtTableContainer {
	tr {

		th {
			background-color: @base-secondary-color;
			color: @base-text-color;

			.hoverSortIcons, .sortedColumn {
			}
		}
	}

	.mdt-header {
		span {
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	.mdt-header ng-md-icon {
		fill: @base-blue !important;
		color: @base-blue !important;
	}

	.mdt-footer {
		background-color: @base-secondary-color;
		color: @base-text-color;

		.mdt-pagination {
			fill: @base-text-color !important;
			color: @base-text-color !important;
		}
	}

	ng-md-icon {
		fill: @base-text-color !important;
		color: @base-text-color !important;
	}

	.md-inactive {
		ng-md-icon {
			fill: @base-inactive-color !important;
		}
	}

	.checkboxCell {
		padding-left:10px;

	}
}

.mdtTableContainer tr.row-rejected,
.mdtTableContainer tr.row-rejected:hover td,
.mdtTableContainer tr.row-rejected td {
	background-color: @state-row-error;
}

.mdtTableContainer tr.row-pending,
.mdtTableContainer tr.row-pending:hover td,
.mdtTableContainer tr.row-pending td {
	background-color: @state-row-pending;
}
