﻿@base-text-color: #fff;
@base-secondary-color: #333;

@base-ripple-color: rgba(0,0,0,0.54);
@base-inactive-color: rgba(255, 255, 255, 0.54);
@base-blue: #01579b;
@light-blue: #396f9b;

@grey: #333;
@main-menu-expanded: 200px;
@main-menu-collapsed: 50px;

@state-row-error: #faa0a0;
@state-row-pending: #fcf0ab;
@expandable-search-search-open-height: 80px;
@campain-expandable-search-search-open-height: 150px;
@font-size: 16px;
