﻿<main class="container">
	<div ui-view="searchPanel"></div>
	<section layout="row" flex>
		<md-content flex layout-padding class="main">
			<div layout="column" layout-align="top center" ng-controller="campainsTableController as cCtrl">
				<md-progress-linear ng-hide="cCtrl.loaded" md-mode="query"></md-progress-linear>
				<mdt-table class="full" table-card="{visible: true, title: 'Campaigns', columnSelector: true, actionIcons: false}"
									 animate-sort-icon="true"
									 expandable-rows="false"
									 selectable-rows="false"
									 alternate-headers="'contextual'"
									 mdt-trigger-request="cCtrl.getLoadResultsCallback(loadPageCallback)"
									 mdt-row-paginator="cCtrl.paginatorCallback(page, pageSize, options)"
									 paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50,100]}"
									 selected-row-callback="cCtrl.selectedRowCallback(rows)"
									 mdt-row="{
													'table-row-id-key': 'campaignId',
													'column-keys': [
														'trafficSourceId',
														'campaignId',
														'appName',
														'name',
														'status',
														'bidPrice',
														'dailyBudget',
														'pricingModel',
														'totalBudget',
														'createdDate',
														'startDate',
														'updateDate',
														'platform',
														'countries',
														'category',
														'destinationUrl',
													]
											}">
					<mdt-header-row>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="true">source id</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">id</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">app Name</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="true">name</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">status</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">bid</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">daily budget</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">pricing Model</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="true">total Budget</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="true">created Date</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">start Date</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="true">update Date</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">platform</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">countries</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">category</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">destination Url</mdt-column>
					</mdt-header-row>

					
					<mdt-custom-cell layout="row" column-key="status">
						<div style="text-transform:capitalize;">
							{{value}}
						</div>
						<md-tooltip ng-show="value">{{value}}</md-tooltip>
					</mdt-custom-cell>
					<mdt-custom-cell layout="row" column-key="appName">
						<div style="white-space:nowrap;overflow:hidden; max-width:200px;text-overflow:ellipsis;">
							{{value}}
						</div>
						<md-tooltip ng-show="value">{{value}}</md-tooltip>
					</mdt-custom-cell>
					<mdt-custom-cell layout="row" column-key="destinationUrl">
						<span style="max-width:200px;" class="overflow-text">
							<a href="{{value}}" target="_blank" class="md-primary">{{value}}</a>
						</span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="createdDate">
						<div style="width:180px;">{{value | date:"dd/MM/yyyy 'at' h:mma" }}</div>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="startDate">
						<div style="width:180px;">{{value | date:"dd/MM/yyyy 'at' h:mma" }}</div>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="updateDate">
						<div style="width:180px;">{{value | date:"dd/MM/yyyy 'at' h:mma" }}</div>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="bidPrice">
						<span>{{value | number:2}}</span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="dailyBudget">
						<span>{{value | number:2}}</span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="totalBudget">
						<span>{{value | number:2}}</span>
					</mdt-custom-cell>
				</mdt-table>
			</div>
		</md-content>
	</section>
</main>
