﻿<md-content flex ng-controller="searchPanelCampainsController as spCtrl" class="campain-search" style="overflow-x:hidden;">
	<md-card>
		<md-card-content>
			<md-subheader id="search-sub-header" class="md-primary" layout="row">
				<div layout="row">
					<div layout="row" flex>
						<form flex>
							<md-chips md-on-add="spCtrl.onAdd()" md-on-remove="spCtrl.onRemove()" ng-model="spCtrl.Tags" placeholder="name">
								<md-chip-template style="padding:0;">
									<strong>{{$chip}}</strong>
								</md-chip-template>
							</md-chips>
						</form>
					</div>
					<div layout="row" flex="10" layout-align="center center">
						<span flex></span>
						<span style="text-transform:uppercase;margin-left:5px;">search</span>
						<md-button class="md-icon-button"
											 aria-label="More"
											 ng-click="searchOpen = !searchOpen">
							<md-icon ng-class="{rotated:  searchOpen}">expand_more</md-icon>
						</md-button>
					</div>
				</div>
			</md-subheader>
			<div layout="column" class="expandable-search" ng-class="searchOpen ? 'search-open' : ''" ng-show="searchOpen">
				<div layout="row">
					<div layout="column" flex="20">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex>
							<label>id</label>
							<input ng-change="spCtrl.onIDChange()" ng-model="spCtrl.preferredID" />
						</md-input-container>
					</div>
					<span flex="5"></span>

					<div layout="column" flex="20">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer">
							<label>bid</label>
							<input ng-change="spCtrl.onBidChange()" type="number" step="0.01" ng-model="spCtrl.preferredBid" />
						</md-input-container>
					</div>
					<span flex="5"></span>

					<div layout="column" flex="20">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer">
							<label>daily budget</label>
							<input ng-change="spCtrl.onDailyBudgetChange()" type="number" ng-model="spCtrl.preferredDailyBudget" />
						</md-input-container>
					</div>
					<span flex="5"></span>

					<div layout="column" flex="">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex="20">
							<label>Started Date From</label>
							<md-datepicker ng-model="spCtrl.PreferredStartedDateFrom" ng-change="spCtrl.onStartedDateFromChange()" md-placeholder="enter date"></md-datepicker>
						</md-input-container>
					</div>


				</div>
				<div layout="row">
					<div layout="column" flex="20" ng-if="false">
						<!-- temporary hidden -->
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer">
							<label>categories</label>
							<md-select multiple="true" ng-change="spCtrl.onCategoryChange()" placeholder="" ng-model="spCtrl.preferredCategory" style="font-size:1.6rem" flex="33">
								<md-option ng-value="cat" ng-repeat="cat in Categories">
									{{cat.Name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div layout="column" flex="20">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer">
							<label>pricing models</label>
							<md-select multiple="true" ng-change="spCtrl.onPricingModelChange()" placeholder="" ng-model="spCtrl.preferredPricingModel" style="font-size:1.6rem" flex="33">
								<md-option ng-value="pm" ng-repeat="pm in PricingModels">
									{{pm.Name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>

					<span flex="5"></span>

					<div layout="column" flex="20">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer">
							<label>platforms</label>
							<md-select ng-change="spCtrl.onPlatformChange()" placeholder="" ng-model="spCtrl.preferredPlatform" style="font-size:1.6rem" flex="33">
								<md-option ng-value="">
									[all]
								</md-option>
								<md-option ng-value="os" ng-repeat="os in Platforms">
									{{os.Name}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<span flex="5"></span>

					<div layout="column" flex="20">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer">
							<label>countries</label>
							<md-select multiple="true" ng-change="spCtrl.onCountryChange()" placeholder="" ng-model="spCtrl.preferredCountries" style="font-size:1.6rem">
								<md-option ng-value="ioc" ng-repeat="ioc in Countries">
									{{ioc}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<span flex="5"></span>

					<div layout="column" flex="">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex="20">
							<label>Started Date To</label>
							<md-datepicker ng-model="spCtrl.PreferredStartedDateTo" ng-change="spCtrl.onStartedDateToChange()" md-placeholder="enter date"></md-datepicker>
						</md-input-container>
					</div>
				</div>
				<div layout="row">
					<div layout="column" flex="20">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer">
							<label>statuses</label>
							<md-select multiple="true" ng-change="spCtrl.onStatusChange()" placeholder="" ng-model="spCtrl.preferredStatuses" style="font-size:1.6rem">
								<md-option ng-value="status" ng-repeat="status in Statuses">
									{{status}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
					<span flex="5"></span>

					<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex="20" ng-if="false">
						<label>Created Date</label>
						<md-datepicker ng-model="spCtrl.PreferredCreatedDate" ng-change="spCtrl.onCreatedDateChange()" md-placeholder="enter date"></md-datepicker>
					</md-input-container>
					<span flex="5"></span>

					<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex="20" ng-if="false">
						<label>Started Date</label>
						<md-datepicker ng-model="spCtrl.StartedDate" ng-change="spCtrl.onStartedDateChange()" md-placeholder="enter date"></md-datepicker>
					</md-input-container>
					<span flex="5"></span>

					<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer" flex="20" ng-if="false">
						<label>Updated Date</label>
						<md-datepicker ng-model="spCtrl.UpdatedDate" ng-change="spCtrl.onUpdatedDateChange()" md-placeholder="enter date"></md-datepicker>
					</md-input-container>
					<span flex="5"></span>

					<div layout="column" flex="">
					</div>
				</div>
			</div>
		</md-card-content>
	</md-card>
</md-content>