﻿<md-dialog class="dialog-template" aria-label="network dialog">
	<md-dialog-header style="padding:10px;">
		<h5 class="uppercase">{{::Title}}</h5>
	</md-dialog-header>
	<md-dialog-content>
		<div flex layout-padding>
			<form name="networkdialogform" novalidate>
				<div layout="row">
					<div layout="column" layout-margin flex="66">
						<md-input-container flex>
							<input ng-model="network.Name" type="text"
										 required placeholder="Name" name="NetworkName" />
						</md-input-container>
						<md-input-container flex>
							<textarea ng-model="network.Note"
												style="overflow-y:scroll;max-height:100px;"
												md-maxlength="150" placeholder="Note" rows="2"
												name="networkNote" md-select-on-focus></textarea>
						</md-input-container>
					</div>
					<div layout="column" layout-margin flex="">
						<md-input-container flex>
							<md-checkbox ng-model="network.Active">Active</md-checkbox>
						</md-input-container>
					</div>
				</div>
			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-if="isUpdate" ng-click="update()" ng-disabled="networkdialogform.$invalid" style="margin-right:20px;">
			Update
		</md-button>
		<md-button ng-if="!isUpdate" ng-click="saveAndCloseDialog()" ng-disabled="networkdialogform.$invalid" style="margin-right:20px;">
			Save
		</md-button>
		<md-button ng-click="closeDialog()" style="margin-right:20px;">
			Cancel
		</md-button>
	</md-dialog-actions>
</md-dialog>
