﻿<main class="container">
	<section layout="row" flex>
		<md-content flex layout-padding class="main">
			<div layout="column" layout-align="top center" ng-controller="networksTableController as ntCtrl">
				<md-progress-linear ng-hide="ntCtrl.loaded" md-mode="query"></md-progress-linear>
				<mdt-table class="full" table-card="{visible: true, title: 'Networks', columnSelector: true, actionIcons: false}"
									 animate-sort-icon="true"
									 expandable-rows="false"
									 selectable-rows="true"
									 show-btn-add="true"
									 btn-add-1-on-click="'ON_NETWORK_ROW_ADDCLICK'"
									 alternate-headers="'contextual'"
									 delete-row-callback="ntCtrl.deleteRowCallBack(rows)"
									 mdt-trigger-request="ntCtrl.getLoadResultsCallback(loadPageCallback)"
									 mdt-row-paginator="ntCtrl.paginatorCallback(page, pageSize, options)"
									 paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50,100]}"
									 row-selection-click="'ON_NETWORK_ROW_CLICK'"
									 selected-row-callback="ntCtrl.selectedRowCallback"
									 mdt-row="{
													'table-row-id-key': 'Id',
													'column-keys': [
														'Id',
														'Name',
														'Note',
														'LastGet',
														'Active'
													]
											}">
					<mdt-header-row>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Id</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Name</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Note</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">sync. date</mdt-column>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">Active</mdt-column>
					</mdt-header-row>
					<mdt-custom-cell column-key="LastGet">
						<div style="width:180px;" ng-show="{{value !== '0001-01-01T00:00:00'}}">{{value | date:"dd/MM/yyyy 'at' h:mma" }}</div>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="Active">
						<div style="width:180px;">
							<md-icon ng-show="value == 1" class="material-icons">check_circle</md-icon>
						</div>
					</mdt-custom-cell>
				</mdt-table>
			</div>

		</md-content>
	</section>
</main>