﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<meta name="description" content="Agency Dashboard" />
	@Styles.Render("~/bundles/styles")
	@RenderSection("Styles", false)
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
	@RenderBody()
	@Scripts.Render("~/bundles/scripts")
	@RenderSection("Scripts", false)
</body>
</html>