﻿<md-button aria-label="toggle" class="md-icon-button expand-btn" ng-click="rowOpen =!rowOpen" onclick="detailtoggle(this)">
	<md-icon ng-class="{rotated: rowOpen}">expand_more</md-icon>
</md-button>
	