﻿<md-bottom-sheet md-component-id="filters-details" class="panel panel--filters left" ng-controller="backFiltersController as bfCtrl">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools panel__header">
			<md-button class="md-icon-button panel__header__btn" aria-label="Close Side Panel" ng-click="bfCtrl.hide()">
				<md-icon class="md-default-theme material-icons panel__header__icon">&#xE317;</md-icon>
			</md-button>
			<h2 class="panel__header__title">
				<span>Date range</span>
			</h2>
		</div>
	</md-toolbar>
	<md-content>
		<md-list layout-sm="column" layout-gt-sm="row" class="list--panel">
			<md-list-item flex class="list--panel__item">
				<md-button ng-click="bfCtrl.onChangeExpiryDateFilter(0)" class="md-grid-item-content btn btn--inlist">Today</md-button>
			</md-list-item>
			<md-list-item flex class="list--panel__item">
				<md-button ng-click="bfCtrl.onChangeExpiryDateFilter(-1)" class="md-grid-item-content btn btn--inlist">Yesterday</md-button>
			</md-list-item>
			<md-list-item flex class="list--panel__item">
				<md-button ng-click="bfCtrl.onChangeExpiryDateFilter(-3)" class="md-grid-item-content btn btn--inlist">3 last day</md-button>
			</md-list-item>
			<md-list-item flex class="list--panel__item">
				<md-button ng-click="bfCtrl.onChangeExpiryDateFilter(-7)" class="md-grid-item-content btn btn--inlist">1 week</md-button>
			</md-list-item>
			<md-list-item flex class="list--panel__item">
				<md-button ng-click="bfCtrl.onChangeExpiryDateFilter(-30)" class="md-grid-item-content btn btn--inlist">1 month</md-button>
			</md-list-item>
			<md-list-item flex class="list--panel__item">
				<md-button class="md-grid-item-content btn btn--inlist" ng-click="bfCtrl.showCalendarBottomSheet()">Custom range</md-button>
			</md-list-item>
		</md-list>
</md-bottom-sheet>