﻿<md-bottom-sheet md-component-id="filters" class="panel panel--filters" ng-controller="closeFiltersController as cfCtrl">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools panel__header">
			<h2 class="panel__header__title">
				<span>Filters</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button panel__header__btn" aria-label="Close Side Panel" ng-click="cfCtrl.closeListBottomSheet()">
				<md-icon class="md-default-theme material-icons panel__header__icon">&#xE5CD;</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content>
		<md-list layout-sm="column" layout-gt-sm="row" class="list list--panel">
			<md-list-item flex class="list--panel__item" ng-repeat="item in cfCtrl.items">
				<md-button class="md-grid-item-content btn btn--inlist" ng-click="cfCtrl.listItemClick($index)">
					{{::item.name }}
				</md-button>
			</md-list-item>
		</md-list>
	</md-content>
	<footer class="footer is-fixed is-fixed--bottom m-show">
		<md-button class="md-primary md-raised btn btn--full btn--flat footer__btn" aria-label="Filters" ng-click="fCtrl.showListBottomSheet()">
			Apply
		</md-button>
	</footer>
</md-bottom-sheet>