﻿<md-bottom-sheet md-component-id="filters-datarange-calendar" class="panel panel--filters left" ng-controller="backFiltersController as bfCtrl">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools panel__header">
			<md-button class="md-icon-button panel__header__btn" aria-label="Close Side Panel" ng-click="bfCtrl.hide()">
				<md-icon class="md-default-theme material-icons panel__header__icon">&#xE317;</md-icon>
			</md-button>
			<h2 class="panel__header__title">
				<span>Calendar</span>
			</h2>
		</div>
	</md-toolbar>
	<md-content layout-sm="column" layout-gt-sm="row" layout-align="center center">
		<div>
			<md-datepicker ng-change="bfCtrl.onChangeCustomRangeExpiryDateFilter()" ng-model="expirationDateLf.from" md-placeholder="Enter start date" md-open-on-focus></md-datepicker>
		</div>
		<div>
			<md-datepicker ng-change="bfCtrl.onChangeCustomRangeExpiryDateFilter()" ng-model="expirationDateLf.to" md-placeholder="Enter finish date" md-open-on-focus></md-datepicker>
		</div>
	</md-content>
</md-bottom-sheet>