﻿<md-bottom-sheet md-component-id="filters-details" class="panel panel--filters left" ng-controller="backFiltersController as bfCtrl">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools panel__header">
			<md-button class="md-icon-button panel__header__btn" aria-label="Close Side Panel" ng-click="bfCtrl.hide()">
				<md-icon class="md-default-theme material-icons panel__header__icon">&#xE317;</md-icon>
			</md-button>
			<h2 class="panel__header__title">
				<span>Status</span>
			</h2>
		</div>
	</md-toolbar>
	<md-content>
		<md-list layout-sm="column" layout-gt-sm="row" class="list--panel">
			<md-list-item flex class="list--panel__item">
				<md-button ng-click="bfCtrl.onChangeActiveFilter('active')" class="md-grid-item-content btn btn--inlist">Active</md-button>
			</md-list-item>
			<md-list-item flex class="list--panel__item">
				<md-button ng-click="bfCtrl.onChangeActiveFilter('inactive')" class="md-grid-item-content btn btn--inlist">Inactive</md-button>
			</md-list-item>
		</md-list>
	</md-content>
</md-bottom-sheet>