﻿<div layout="row">
	<div layout="row" style="width:100%;">
		<div class="container" style="display: block;position: relative;width:100%;transition: opacity 0.1s linear;">
			<md-progress-linear md-mode="query"></md-progress-linear>
		</div>
	</div>
	<div layout="row" style="display:none;width:100%;">
		<md-card class="detail-card" style="width:100%;">
			<md-card-title>
				<md-card-title-text>
					<div layout="row">
						<span class="md-headline" style="font-weight:600;" field="NetworkName"></span>
						<span class="md-headline" style="padding:0 10px;"> - </span>
						<span class="md-headline" style="font-weight:600;" field="Name"></span>
					</div>
				</md-card-title-text>
			</md-card-title>
			<md-card-content flex>
				<div layout="row">
					<div layout="column" flex="25">
						<div layout="row">
							<div layout="row">
								<div layout="column" flex>
									<div layout="row">
										<span class="detail-label">Id:</span>
										<span class="detail-value copy-value"
													ngclipboard data-clipboard-text="{{$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('OfferId',$parent.rowData.data)}}"
													ngclipboard-success="$parent.$parent.$parent.$parent.$parent.$parent.onCopySuccess(e)">
											{{$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('OfferId',$parent.rowData.data)}}
											<md-tooltip md-direction="right">Copy</md-tooltip>
										</span>
									</div>
								</div>
								<div layout="column" flex>
									<div layout="row">
										<span class="detail-label">payout:</span>
										<span class="detail-value copy-value"
													ngclipboard data-clipboard-text="{{$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('default_payout',$parent.rowData.data) | number:2}}"
													ngclipboard-error="$parent.$parent.$parent.$parent.$parent.$parent.onCopyError(e)"
													ngclipboard-success="$parent.$parent.$parent.$parent.$parent.$parent.onCopySuccess(e)">
											{{$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('default_payout',$parent.rowData.data) | number:2}}
											<md-tooltip md-direction="right">Copy</md-tooltip>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div layout="row">
							<div layout="column" flex>
								<div layout="row">
									<span class="detail-label">OS:</span>
									<span class="detail-value copy-value"
												ngclipboard data-clipboard-text="{{$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('AppOS',$parent.rowData.data)}}"
												ngclipboard-success="$parent.$parent.$parent.$parent.$parent.$parent.onCopySuccess(e)">
										{{$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('AppOS',$parent.rowData.data)}}
										<md-tooltip md-direction="right">Copy</md-tooltip>
									</span>
								</div>
							</div>
						</div>
						<div layout="row">
							<div layout="column" flex>
								<div layout="row">
									<span class="detail-label">Tracking-URL:</span>
									<span ng-show="$parent.$parent.$parent.$parent.$parent.$parent.requiredOfferAccess($parent.rowData.data)">
										<button ng-show="$parent.$parent.$parent.$parent.$parent.$parent.requestedOfferAccessIcon($parent.rowData.data) == ''"
														ng-click="$parent.$parent.$parent.$parent.$parent.$parent.requestOfferAccess($parent.rowData.data, this)"
														class="md-accent btn btn-request-access">
											Request Offer Access
											<md-icon class="material-icons">input</md-icon>
										</button>
									</span>
									<span class="detail-value copy-value"
												ngclipboard data-clipboard-text="{{$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('TrackingURL',$parent.rowData.data)}}"
												ngclipboard-success="$parent.$parent.$parent.$parent.$parent.$parent.onCopySuccess(e)">
										{{$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('TrackingURL',$parent.rowData.data)}}
										<md-tooltip md-direction="right">Copy</md-tooltip>
									</span>
								</div>
							</div>
						</div>
						<div layout="row">
							<br />
						</div>
						<div layout="row">
							<table class="creativity-table" flex>
								<tr>
									<th flex class="detail-secondary-toolbar">
										<span flex>Creativities</span>
										<md-button class="md-icon-button" ng-click="$parent.$parent.$parent.$parent.$parent.$parent.getCreativities(this, $parent.rowData.data,$parent.rowData.rowId)">
											<md-icon class="material-icons base-text-color">system_update_alt</md-icon>
										</md-button>
										<span ng-show="$parent.$parent.$parent.$parent.$parent.$parent.ShowRetryCreativitiesLoad">
											<md-icon class="material-icons base-text-color" style="color:orange;">warning</md-icon>
											<md-tooltip>
												{{$parent.$parent.$parent.$parent.$parent.$parent.CreativitiesErrorMessage}}<br />
												
											</md-tooltip>

										</span>
									</th>
								</tr>
								<tr ng-show="$parent.$parent.$parent.$parent.$parent.$parent.CreativitiesLoad">
									<td>
										<md-progress-linear md-mode="query"></md-progress-linear>
									</td>
								</tr>
								<tr ng-repeat="cr in $parent.$parent.$parent.$parent.$parent.$parent.Creativities[$parent.rowData.rowId]">
									<td>
										<a class="creativity-hyperlink md-primary" target="_blank" href="{{cr.Url}}">
											{{cr.Name}}
											<md-tooltip>{{cr.Name}}</md-tooltip>
										</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div layout="column" flex="5"></div>
					<div layout="column" flex>
						<span class="detail-value" ng-bind-html="$parent.$parent.$parent.$parent.$parent.$parent.getDetailValue('Description',$parent.rowData.data)">
						</span>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>