/* ===========================
   Mixins
   =========================== */



// = Grids
// -----------------------------

@mixin space-out($min, $max) {
  @for $i from $min through $max {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ & {
      width: 1 / $i * 100%;
      position: relative;
      float: left;
    }
  }
}
//HOW TO USE @include space-out(1, 4);

// = Typography
// -----------------------------

//Fix rem in ie8
@mixin font-size($sizeValue: $base-font-size) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin line-height($line: $base-font-size) {
    line-height: ($line * 10) + px;
    line-height: $line + rem;
}

//text-gradient
@mixin textgradient($color1, $color2, $startPoint:left top, $endPoint:left bottom){
  color: mix($color1, $color2);
  background: -webkit-gradient(linear, $startPoint, $endPoint, from($color1), to($color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// antialiasing mode font rendering
@mixin font-smoothing {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//Text Ellipsis
@mixin multiLineEllipsis($text-overflow: ellipsis, $line: 1){
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: $text-overflow;
}

//Text truncate
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// = Box Rules
// -----------------------------

/**
 * Fix the Height
 */

@mixin box-height($size) {
  height: $size; //Fallback in px
  height: calculateRem($size);
}


/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: '';
    display: block;
    height: 1px;
    clear:both;
  }
}

/**
 * Vertical align works in IE8
 */

@mixin v-center($with-children:false) {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  // Make the contents vertically aligned
  @if($with-children) {
    > * {
      @include v-center-content;
    }
  }
}

/**
 * Vertical align element
 */

@mixin v-center-content {
  display: inline-block;
  vertical-align: middle;
}


/**
 * Vertical align single element
 */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
//How to use .element p { @include vertical-align();}

/**
 * Fullscreen Section
 */

@mixin fullscreen-section($with-children:false){
  height: 100%;
  // Make the contents at 100% height and width
  @if($with-children) {
    > div.wrapper, div.main, section{
      height: 100vh;
      width: 100%;
      float: left;
    }
  }
}

/**
* Background gradient
*/
@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }
  
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
//How to use: @include linear-gradient(to bottom, rgba($color2, 0.5) 0%, transparent 100%);

//background image
@mixin backgroundImage($imgpath, $position: 0 0, $size: auto auto, $repeat: no-repeat) {
  background: {
      image: url($imgpath);
      position: $position;
      repeat: $repeat;
      size: $size;
  }
}


/**
* Image aspect ratio
*/

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


// = Convert PXtoRem
// -----------------------------
@mixin pxtorem($property, $values) {
  $px : ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" {
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem; 
  }
}

// = Triangle
// -----------------------------
/// @param {Direction} $direction - Triangle direction
/// @param {Color} $color [currentcolor] - Triangle color 
/// @param {Length} $size [1em] - Triangle size
/// Example: @include css-triangle ("up", 10px, #fff);
@mixin triangle ($direction: "down", $size: 20px, $color: #000) {
  width: 0; 
  height: 0;
  border-left: $size solid #{setTriangleColor($direction, "left", $color)};
  border-right: $size solid #{setTriangleColor($direction, "right", $color)};
  border-bottom: $size solid #{setTriangleColor($direction, "bottom", $color)};
  border-top: $size solid #{setTriangleColor($direction, "top", $color)};
}

//Utility function to return the relevant colour depending on what type of arrow it is
@function setTriangleColor($direction, $side, $color) {

  @if $direction == "left" and $side == "right" 
  or  $direction == "right" and $side == "left" 
  or $direction == "down" and $side == "top" 
  or $direction == "up" and $side == "bottom" {
    @return $color
  } @else {
    @return "transparent";
  }

}

// = Animation
// -----------------------------

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }  
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }  
  @keyframes #{$animation-name} {
      @content;
  }
}
@mixin animation($str) {
  animation: #{$str};      
}
/* How to use
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  @include animation('slide-down 5s 3');
}
*/


// = Breakpoints (bootstrap default)
// -----------------------------

@mixin breakpoint($point){
  
  @if ($point == xlhd){
    @media (min-width: $xlhd){ @content }
  }
  @if ($point == xl){
    @media (min-width: $xl){ @content }
  }
  @else if ($point == lg){
    @media (min-width: $lg){ @content }
  }
  @else if ($point == md){
    @media (min-width: $md) { @content }
  }
  
  @else if ($point == sm){
    @media (min-width: $sm){ @content }
  }

  @else if ($point == xs){
    @media (min-width: $xs){ @content }
  }

  @else if ($point == xxs){
    @media (min-width: $xxs){ @content }
  }

  @else if ($point == xxxs){
    @media  (max-width: $xxxs){ @content }
  }
  
}
