@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css';
::selection{
	//background-color: $color1;
	//color: $color4;
}

*{
	@include font-smoothing;
}
html, body{
	font-size: $base-font-size;
	font-family: $font1;
	//-webkit-tap-highlight-color: rgba(0, 0, 0, 0.5); // for touch pad
	width: 100%;
	height: 100%;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a[href], button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

canvas{
  display: block;
  vertical-align: bottom;
}

figure{
	overflow: hidden;
	img{
		width: 100%;
	}
}
h1, h2, h3, h4, h5, h6{
	font-family: $font1;
	margin: 0;
}
h1{
	@include font-size(3.7);
	font-weight: 700;
}
h2{
	@include font-size(3.2);
	font-weight: 700;
}
h3{
	@include font-size(2.7);
	font-weight: 700;
}
h4{
	@include font-size(2);
	font-weight: 700;
}
h5{
	@include font-size(1.8);
	font-weight: 700;
}
h6{
	@include font-size(1.6);
	font-weight: 700;
}
p, ul, li, a, span{
	@include font-size(1.6);
	font-weight: 400;
}

