@charset 'UTF-8';

// ----------------------
// == Site settings
// ----------------------

// = Fonts
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Poppins|Raleway|Playfair+Display|Rufina:400,400i,700,700i);

$font1: 'Raleway', sans-serif;
$font2: 'Playfair Display',Georgia,serif;
$font3: 'Rufina', serif;
$font4: 'Poppins', sans-serif;

// = Typography
// -----------------------------

$base-font-size: 62.5%;

// = Breakpoints
// -----------------------------
$xxxs: 30em; 		 // 480px
$xxs:  30.063em; // 481px
$xs:   40.063em; // 641px
$sm: 	 48.063em; // 769px
$md: 	 62.063em; // 993px
$lg: 	 75.063em; // 1201px
$xl:	 90.063em; // 1441px
$xlhd: 102.563em; // 1641px

// = Grid
// -----------------------------
$max-width-screen: 1200px;

$whitespace: 20px;
