/* =======================
   Modules/Box
   ======================= */


/*
** Generic
*/
p{
    word-wrap: break-word;
}
.brand-logo{
    text-align: center;

    @include breakpoint('sm'){
        text-align: left;
    }
}

.header__toolbar{
    padding: 0!important;
}

.overlay{
    
}

.list{
    &--panel{
        &__item{
            padding: 0!important;
        }
    }
}

.panel{
    &--filters{
        padding: 0!important;
        transform: translate3d(0,0,0)!important;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include breakpoint('sm'){
            
        }
    }

    &__title{
        margin: auto!important;
    }
    
}

#content-filter{

    @include breakpoint('sm'){
        position: relative;
    }
    
}

.full{
    width: 100%!important;
}

/*
** Table
*/

td.column{
    
}

.mdt-pagination{
    span,
    md-input-container{
        visibility: hidden;
        @include breakpoint('sm'){
            visibility: visible;
        }
    }
}

.overflow-text{
    display: inline-block;
    float: left;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
   
    max-height: 30px;
    line-height: 30px;
    outline: none;

    &--is-open{
        white-space: normal !important;
        overflow: visible;
        text-overflow: inherit;
        max-height: 9999px;
    }

}
.arrow{
    display: inline-block;
    float: left;
    outline: none;
    cursor: pointer;
    transition: transform 0.23s cubic-bezier(0.4, 0.0, 0.2, 1);
    margin-left: 16px;
    &.is-open{
        transform: rotate(180deg);
    }
}

/*Side panel above all*/
.md-sidenav-left{
    z-index: 71;
}
md-backdrop.md-sidenav-backdrop{
    z-index: 70;
}
