/* =======================
   Modules/Buttons
   ======================= */

/*
** Reset anchor and buttons
*/

a, 
a:hover, 
a:active, 
a:focus, 
a:visited{
	outline: 0;
	text-decoration: none;
}

button,
input, 
html [type="button"], [type="reset"], [type="submit"]{
	padding: 0;
	outline: 0;
	text-decoration: none;
	border: 0;
}

.btn{
	&--full{
		width: 100%!important;
	}
	&--flat{
		box-shadow: 0 0 0!important;
		margin: 0!important;
	}
	&--inlist{
		margin: 0!important;
		text-align: left;
		width: 100%;
		line-height: 48px;
		padding: 0 16px !important;
	}
}

.header__btn{
	margin: 0 !important;
}

#content-filter{
	.btn--full{
		min-height: 64px;
		padding-left: 16px;
	}
}
