/* =======================
   Modules/Images
   ======================= */


.logo-mobile,
.logo-nav{
	@include pxtorem(max-height, 80px);
	@include pxtorem(max-width, 80px);
	margin-left: 0;
}


.image-grid{

	&__image{
		width: 100%;
		text-align: center;
    overflow: hidden; 
		
		img{
 			position: relative;
		}

	}

}
.image-bg{
	/* corrects inline gap in enclosing div */
  display: block;
  max-width: none;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: 100%;
  width: auto\9; /* ie8+9 */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
	object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.icon{
	max-width: 80px;
	width: 100%;
}
