/* =======================
   Modules/Loader
   ======================= */

.underlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9990;
	
	/*Color*/
	background-color: #FFF;

}

#loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9991;
}