/*
 * SMACSS + BEM STRUCTURE v1.1
 * Author: @satuweb
 *
 * https://github.com/satuweb/smacss-bem-structure
 *
 */
/* Vendor */
/* 
** SuperGIGI Framework http://objectway.github.io/super-gigi/index.html
*/
/*
default breakpoints: 
xxsmall: 0px 
xsmall: 480px
small: 640px
medium: 720px
large: 1024px
xlarge: 1280px
xxlarge: 1440px
*/
/*
** Bootstrap
*/
/*
** Materialize by Google
*/
/* Base */
/* ===========================
   Base
   =========================== */
/* ===========================
   Functions
   =========================== */
/*
.page-head--masthead {
  background-image: blurground(8,4,$myColours);
  height: 426px;
}
*/
/* ===========================
   Mixins
   =========================== */
/**
 * Fix the Height
 */
/**
 * Clearfix
 */
/**
 * Vertical align works in IE8
 */
/**
 * Vertical align element
 */
/**
 * Vertical align single element
 */
/**
 * Fullscreen Section
 */
/**
* Background gradient
*/
/**
* Image aspect ratio
*/
/* How to use
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  @include animation('slide-down 5s 3');
}
*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Poppins|Raleway|Playfair+Display|Rufina:400,400i,700,700i);
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a[href], button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

canvas {
  display: block;
  vertical-align: bottom;
}

figure {
  overflow: hidden;
}

figure img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1 {
  font-size: 37px;
  font-size: 3.7rem;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 700;
}

h3 {
  font-size: 27px;
  font-size: 2.7rem;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}

p, ul, li, a, span {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
}

/* Layouts */
/* ===========================
   Layout
   =========================== */
/* ======================
   Layout/Wrapper
   ======================= */
/* ======================
   Layout/constrained
   ======================= */
.l-constrained {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  max-width: 120rem;
}

/* ======================
   Layout/Header
   ======================= */
.header {
  content: "ROW nested: false, vertical false";
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: rem-calc(1920);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  width: 100%;
}

/* ======================
   Layout/Main
   ======================= */
.container {
  width: 100%;
}

@media (min-width: 48.063em) {
  .main {
    padding-top: 64px;
  }
}

/* ======================
   Layout/Nav
   ======================= */
/*
** Navigation on header (Desktop version)
*/
.header__nav .navigation {
  content: "ROW nested: true, vertical false";
  box-sizing: border-box;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  width: calc(100% + 1.875rem);
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.header__nav .navigation__item {
  content: "COLUMN: width : auto | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 1 1 0%;
  width: auto;
  align-items: center;
  align-self: center;
  content: "show from large";
  display: none !important;
}

@media only screen and (min-width: 64em) {
  .header__nav .navigation__item {
    display: inherit !important;
  }
}

.header__nav .navigation__burger {
  content: "COLUMN: width : auto | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 1 1 0%;
  width: auto;
  align-items: flex-end;
  align-self: center;
  content: "hide from large";
  display: inherit !important;
}

@media only screen and (min-width: 64em) {
  .header__nav .navigation__burger {
    display: none !important;
  }
}

/*
** Navigation on OuterDiv (Mobile version)
*/
.outer-nav {
  content: "COLUMN: width : 12 | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 0 0 auto;
  width: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  z-index: 999;
  content: "hide from large";
  display: inherit !important;
}

@media only screen and (min-width: 64em) {
  .outer-nav {
    display: none !important;
  }
}

.outer-nav__header {
  content: "ROW nested: true, vertical false";
  box-sizing: border-box;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  width: calc(100% + 1.875rem);
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
}

.outer-nav__logo-nav {
  content: "COLUMN: width : (xxsmall: 8, small: auto) | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  align-items: flex-start;
  align-self: center;
}

@media only screen and (min-width: 0em) {
  .outer-nav__logo-nav {
    flex: 0 0 auto;
    width: 66.66667%;
  }
}

@media only screen and (min-width: 40em) {
  .outer-nav__logo-nav {
    flex: 1 1 0%;
    width: auto;
  }
}

.outer-nav__burger {
  content: "COLUMN: width : (xxsmall: 4, small: auto) | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  align-items: flex-end;
  align-self: center;
}

@media only screen and (min-width: 0em) {
  .outer-nav__burger {
    flex: 0 0 auto;
    width: 33.33333%;
  }
}

@media only screen and (min-width: 40em) {
  .outer-nav__burger {
    flex: 1 1 0%;
    width: auto;
  }
}

.outer-nav .navigation {
  content: "ROW nested: true, vertical false";
  box-sizing: border-box;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  width: calc(100% + 1.875rem);
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.outer-nav .navigation__item {
  content: "COLUMN: width : 6 | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 0 0 auto;
  width: 50%;
  align-items: center;
  align-self: center;
  content: "hide from large";
  display: inherit !important;
}

@media only screen and (min-width: 64em) {
  .outer-nav .navigation__item {
    display: none !important;
  }
}

.outer-nav .navigation--social {
  align-items: center;
  align-self: center;
}

.outer-nav .navigation--social__item {
  content: "COLUMN: width : 12 | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 0 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* ======================
   Layout/Sidebar
   ======================= */
/* ======================
   Layout/Footer
   ======================= */
.footer {
  content: "ROW nested: true, vertical false";
  box-sizing: border-box;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  width: calc(100% + 1.875rem);
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer__module {
  content: "COLUMN: width : (xxsmall: 12, medium: 6) | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 0em) {
  .footer__module {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 45em) {
  .footer__module {
    flex: 0 0 auto;
    width: 50%;
  }
}

.footer__menu {
  content: "COLUMN: width : 12 | ";
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
}

.footer__tagline {
  content: "COLUMN: width : 12 | ";
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
}

/* ======================
   Layout/Main
   ======================= */
.module {
  content: "COLUMN: width : 12 | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 0 0 auto;
  width: 100%;
}

.module__outer {
  content: "ROW nested: true, vertical false";
  box-sizing: border-box;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  width: calc(100% + 1.875rem);
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.module__inner {
  content: "COLUMN: width : 12 | ";
  flex: 0 0 auto;
  width: 100%;
}

.module__title {
  content: "COLUMN: width : 12 | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 0 0 auto;
  width: 100%;
}

.module__subtitle {
  content: "COLUMN: width : 12 | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 0 0 auto;
  width: 100%;
}

.module__link {
  content: "COLUMN: width : 12 | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  flex: 0 0 auto;
  width: 100%;
}

.module__section.has-image {
  content: "COLUMN: width : (xxsmall: 12, large: 8) | collapse : true | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 0em) {
  .module__section.has-image {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 64em) {
  .module__section.has-image {
    flex: 0 0 auto;
    width: 66.66667%;
  }
}

/* ======================
   Layout/image-grid
   ======================= */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.image-grid {
  content: "ROW nested: true, vertical false";
  box-sizing: border-box;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  width: calc(100% + 1.875rem);
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.image-grid__image-container {
  content: "COLUMN: width : (xxsmall: 12, large: 6) | collapse : true | global : true | ";
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 0em) {
  .image-grid__image-container {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 64em) {
  .image-grid__image-container {
    flex: 0 0 auto;
    width: 50%;
  }
}

/* ======================
   Layout/list
   ======================= */
.list--panel__item {
  border-bottom: 1px solid;
}

/* Modules */
/* ==|====================
   Modules
   ======================= */
/* =======================
   Modules/Box
   ======================= */
/*
** Generic
*/
p {
  word-wrap: break-word;
}

.brand-logo {
  text-align: center;
}

@media (min-width: 48.063em) {
  .brand-logo {
    text-align: left;
  }
}

.header__toolbar {
  padding: 0 !important;
}

.list--panel__item {
  padding: 0 !important;
}

.panel--filters {
  padding: 0 !important;
  transform: translate3d(0, 0, 0) !important;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel__title {
  margin: auto !important;
}

@media (min-width: 48.063em) {
  #content-filter {
    position: relative;
  }
}

.full {
  width: 100% !important;
}

/*
** Table
*/
.mdt-pagination span,
.mdt-pagination md-input-container {
  visibility: hidden;
}

@media (min-width: 48.063em) {
  .mdt-pagination span,
  .mdt-pagination md-input-container {
    visibility: visible;
  }
}

.overflow-text {
  display: inline-block;
  float: left;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  max-height: 30px;
  line-height: 30px;
  transition: all 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.overflow-text--is-open {
  white-space: normal !important;
  overflow: visible;
  text-overflow: inherit;
  max-height: 9999px;
}

.arrow {
  display: inline-block;
  float: left;
  outline: none;
  cursor: pointer;
  transition: transform 0.23s cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 16px;
}

.arrow.is-open {
  transform: rotate(180deg);
}

/*Side panel above all*/
.md-sidenav-left {
  z-index: 71;
}

md-backdrop.md-sidenav-backdrop {
  z-index: 70;
}

/* =======================
   Module/Icons
   ======================= */
/* =======================
   Modules/Images
   ======================= */
.logo-mobile,
.logo-nav {
  max-height: 80px;
  max-height: 8rem;
  max-width: 80px;
  max-width: 8rem;
  margin-left: 0;
}

.image-grid__image {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.image-grid__image img {
  position: relative;
}

.image-bg {
  /* corrects inline gap in enclosing div */
  display: block;
  max-width: none;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: 100%;
  width: auto\9;
  /* ie8+9 */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.icon {
  max-width: 80px;
  width: 100%;
}

/* =======================
   Modules/Search
   ======================= */
.search-bar .md-chip-input-container, .search-bar input {
  width: 100% !important;
}

/* =======================
   Modules/Buttons
   ======================= */
/*
** Reset anchor and buttons
*/
a,
a:hover,
a:active,
a:focus,
a:visited {
  outline: 0;
  text-decoration: none;
}

button,
input,
html [type="button"], [type="reset"], [type="submit"] {
  padding: 0;
  outline: 0;
  text-decoration: none;
  border: 0;
}

.btn--full {
  width: 100% !important;
}

.btn--flat {
  box-shadow: 0 0 0 !important;
  margin: 0 !important;
}

.btn--inlist {
  margin: 0 !important;
  text-align: left;
  width: 100%;
  line-height: 48px;
  padding: 0 16px !important;
}

.header__btn {
  margin: 0 !important;
}

#content-filter .btn--full {
  min-height: 64px;
  padding-left: 16px;
}

/* =======================
   Modules/Loader
   ======================= */
.underlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  /*Color*/
  background-color: #FFF;
}

#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9991;
}

/* State */
/* ==|====================
   State
   
   Different types of states: 
   class-based-states(.is-active), 
   pseudo-classes(:hover, :focus), 
   attribute states(data-state="rotating"), 
   or @mediaquery states
   ======================= */
/* =======================
   State
   
   Different types of states: 
   class-based-states(.is-active), 
   pseudo-classes(:hover, :focus), 
   attribute states(data-state="rotating")
   ======================= */
/*
** Reset default
*/
h1, h2, h3, h4, h5, h6 {
  transition: font 0.35s ease;
}

a {
  transition: color 0.25s ease;
}

/*
** Animation Vars
*/
/*
** Show/hidden Mobile
*/
@media (min-width: 48.063em) {
  .m-show {
    display: none;
  }
}

.m-hide {
  display: none;
}

@media (min-width: 48.063em) {
  .m-hide {
    display: inherit !important;
  }
}

.panel--filters.ng-enter {
  transform: translate3d(0, 100%, 0) !important;
}

@media (min-width: 48.063em) {
  .panel--filters.ng-enter {
    transform: translate3d(0, 0, 0) !important;
  }
}

.panel--filters.ng-enter-active {
  transform: translate3d(0, 0, 0) !important;
}

.panel--filters.ng-enter-active {
  transform: translate3d(0, 0, 0) !important;
}

.panel--filters.ng-enter-active {
  transform: translate3d(0, 0, 0) !important;
}

@media (min-width: 48.063em) {
  .panel--filters.ng-leave-active {
    transform: translate3d(0, 0, 0) !important;
  }
}

.panel--filters.ng-enter.left {
  transform: translate3d(100%, 0, 0) !important;
}

.panel--filters.ng-enter-active.left {
  left: 0;
  bottom: auto;
  top: 0;
  right: auto;
  transform: translate3d(0, 0, 0) !important;
}

.panel--filters.ng-leave-active.left {
  transform: translate3d(100%, 0, 0) !important;
}

.is-fixed {
  position: fixed;
}

.is-fixed--bottom {
  bottom: 0;
}

/* Themes */
/* ==|====================
   Theme
   
   Typography | Colors: 
   
   ======================= */
/*
** Colors
*/
/*
$color0: #c6cbd7;//Ultra-light
$color1: #b7bcc9;//Light
$color2: #9198a7;//Normal
$color3: #555e6f;//Dark
$color4: #3e4758;//Ultra-dark
*/
/*
** Reset
*/
a,
a:hover,
a:link,
a:visited,
a:focus {
  color: #001001;
}

body {
  color: #555e6f;
}

.wrapper {
  background: rgba(242, 242, 242, 0.35);
  background: -webkit-linear-gradient(bottom, rgba(242, 242, 242, 0.35) 0%, rgba(145, 152, 167, 0.15) 100%);
  background: linear-gradient(to top, rgba(242, 242, 242, 0.35) 0%, rgba(145, 152, 167, 0.15) 100%);
}

/*
** Header
*/
.header__btn {
  color: #F2F2F2 !important;
  fill: #F2F2F2 !important;
}

.header__icon {
  color: #F2F2F2 !important;
  fill: #F2F2F2 !important;
}

.header__logo {
  color: #F2F2F2 !important;
}

/*
** Search bar
*/
.search-bar {
  background-color: #F2F2F2;
}

.text-enable {
  color: #001001;
}

.text-disable {
  color: #9198a7;
}

/*
** Menu panel
*/
.panel__header {
  color: #F2F2F2;
}

.panel__header__btn {
  color: #F2F2F2 !important;
}

.panel__header__icon {
  color: #F2F2F2 !important;
  fill: #F2F2F2 !important;
}

.panel__header__title {
  color: #F2F2F2;
}

#content-filter .btn--full span {
  color: #F2F2F2;
}

/*
** Footer
*/
.footer__btn span {
  color: #F2F2F2;
}

/*
** List
*/
.list--panel__item {
  border-color: #b7bcc9;
}

/*
** Typography
*/
* {
  font-family: 'Roboto', sans-serif;
}

/*
** Header
*/
.header__logo span {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

/*
** Footer
*/
.footer__btn {
  line-height: 44px;
  line-height: 4.4rem;
}

.footer__btn span {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
}

/*
** Panel
*/
.panel__header__title span {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}

#content-filter .btn--full {
  line-height: 44px;
  line-height: 4.4rem;
}

#content-filter .btn--full span {
  font-size: 20px;
  font-size: 2rem;
}

/* Template */
/* ==|====================
   Template
   
   Different types of template page: 
   class-tamplate 
   ======================= */
