/* ======================
   Layout/Footer
   ======================= */
.footer{
	@include grid-row();

	&__module{
		@include grid-column((xxsmall:12, medium: 6));
		align-items: center;
		text-align: center;
		@include pxtorem(padding-bottom, $whitespace * 2);
	}

	&__menu{
		@include grid-column(12, $global: false);
		text-align: center;
	}

	&__tagline{
		@include grid-column(12, $global: false);
		text-align: center;
	}

}
