/* ======================
   Layout/image-grid
   ======================= */


img{
	max-width: 100%;
	height: auto;
	display: block;
  margin: 0 auto;
}

.image-grid{
	@include grid-row();
	
	&__image-container{
		@include grid-column((xxsmall:12, large: 6), $collapse: true);	
	}

}