/* ======================
   Layout/Main
   ======================= */

.module{
	@include grid-column(12);
	
	&__outer{
		@include grid-row();
	}
	
	&__inner{
		@include grid-column(12, $global: false);
	}
	
	&__title{
		@include grid-column(12);
	}
	
	&__subtitle{
		@include grid-column(12);
	}
	
	&__link{
		@include grid-column(12);

	}

	&__section{

		&.has-image{
			@include grid-column((xxsmall:12, large: 8), $collapse: true);
		}

	}

}