/* ======================
   Layout/Nav
   ======================= */

/*
** Navigation on header (Desktop version)
*/
.header__nav{

	.navigation{
		@include grid-row();
		
		&__item{
			@include grid-column(auto);
			align-items: center;
			align-self: center;
			@include show-from(large);
		}

		&__burger{
			@include grid-column(auto);
			align-items: flex-end;
			align-self: center;
			@include hide-from(large);
			
		}

	}

}

/*
** Navigation on OuterDiv (Mobile version)
*/

.outer-nav{
	@include grid-column(12);
	overflow: scroll;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-top-left-radius: 25%;
	border-top-right-radius: 25%;
	z-index: 999;

	@include hide-from(large);

	&__header{
		@include grid-row();
		flex-grow: 0;
	}

	&__logo-nav{
		@include grid-column((xxsmall: 8, small: auto));
		align-items: flex-start;
		align-self: center;
	}

	&__burger{
		@include grid-column((xxsmall: 4, small: auto));
		align-items: flex-end;
		align-self: center;
	}

	.navigation{
		@include grid-row();

		&__item{
			@include grid-column(6);
			align-items: center;
			align-self: center;
			@include hide-from(large);
		}

		&--social{
			align-items: center;
			align-self: center;
			
			&__item{
				@include grid-column(12);
				justify-content: center;
				align-items: center;
				align-self: center;
			}
			
		}

	}

}