﻿<main class="container">
	<div id="content-filter" layout="row" flex ng-controller="filtersController as fCtrl" ng-hide="true">
		<md-button class="md-primary  md-raised btn btn--full btn--flat m-hide" aria-label="Filters" ng-click="fCtrl.showListBottomSheet()">
			Filters
		</md-button>
	</div>

	<div ui-view="searchPanel"></div>

	<section layout="row" flex>
		<md-content flex layout-padding class="main">
			<div layout="column" layout-align="top center" ng-controller="offerTableController as tCtrl">
				<md-progress-linear ng-hide="tCtrl.loaded" md-mode="query"></md-progress-linear>
				<mdt-table class="full" table-card="{visible: true, title: 'Offers', columnSelector: true, actionIcons: false}"
									 animate-sort-icon="true"
									 expandable-rows="true"
									 selectable-rows="false"
									 alternate-headers="'contextual'"
									 mdt-trigger-request="tCtrl.getLoadResultsCallback(loadPageCallback)"
									 mdt-row-paginator="tCtrl.paginatorCallback(page, pageSize, options)"
									 paginated-rows="{isEnabled: true, rowsPerPageValues: [20,50,100]}"
									 selected-row-callback="tCtrl.selectedRowCallback(rows)"
									 mdt-row="{
													'table-row-id-key': 'OfferId',
													'table-row-class-name':tCtrl.rowClassCallback,
													'color': '#ff0000',
													'column-keys': [
														'AppIconUrl',
														'approval_status',
														'NetworkId',
														'OfferId',
														'NetworkName',
														'Name',
														'Description',
														'Countries',
														'DateExpiration',
														'Currency',
														'ConversionType',
														'Status',
														'InitialPayoutCap',
														'InitialConversionCap',
														'AppRating',
														'AppOS',
														'AppPrice',
														'AppID',
														'AppDescription',
														'AppCategories',
														'default_payout',
														'PayoutCap',
														'ConversionCap',
														'TrackingId',
														'TrackingURL',
														'preview_url'
													]
											}">
					<mdt-header-row>
						<mdt-column column-definition="" column-sort="false" align-rule="left" hide-column-by-default="false">App Icon</mdt-column>
						<mdt-column column-definition="Offer access request status" column-sort="false" align-rule="right" hide-column-by-default="false">
								Req. Status
						</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">Network ID</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">Offer ID</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">Network</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">Name</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true" class="large-column">Description</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">Countries</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">Expiration Date</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">Currency</mdt-column>
						<mdt-column column-sort="truefalse" align-rule="left" hide-column-by-default="true">Conversion Type</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">Status</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">Initial Payout Cap</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">Initial Conversion Cap</mdt-column>

						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">App Rating</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">App OS</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">App Price</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">App ID</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">App Description</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">App Categories</mdt-column>

						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">Payout</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">Payout Cap</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">Conversion Cap</mdt-column>

						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">Tracking Id</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="true">Tracking URL</mdt-column>
						<mdt-column column-sort="false" align-rule="left" hide-column-by-default="false">Preview Url</mdt-column>

					</mdt-header-row>
					<mdt-custom-cell column-key="approval_status" align-rule="center">
						<div style="display:flex">
							<md-icon class="material-icons" style="color:{{clientScope.$parent.$parent.requestedOfferAccessColor(null, value)}}">
								{{clientScope.$parent.$parent.requestedOfferAccessIcon(null, value)}}
							</md-icon>
						</div>
						<md-tooltip ng-show="value">{{value.length > 0 ? value : 'no-value' }}</md-tooltip>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="OfferId" align-rule="center">
						<span class="copy-value" flex ngclipboard data-clipboard-text="{{value}}" ngclipboard-success="clientScope.$parent.$parent.onCopySuccess(e)">
							{{value}}
							<md-tooltip md-direction="bottom">Copy</md-tooltip>
						</span>
					</mdt-custom-cell>
					<mdt-custom-cell layout="row" column-key="Name">
						<span class="overflow-text copy-value" ngclipboard data-clipboard-text="{{value}}" ngclipboard-success="clientScope.$parent.$parent.onCopySuccess(e)">
							{{value}}
							<md-tooltip md-direction="top" md-delay="500">{{value}}</md-tooltip>
							<md-tooltip md-direction="bottom">Copy</md-tooltip>
						</span>
					</mdt-custom-cell>
					<mdt-custom-cell layout="row" column-key="Countries">
						<span style="text-transform: uppercase;" class="overflow-text" ng-bind-html="value"></span>
					</mdt-custom-cell>
					<mdt-custom-cell layout="row" column-key="preview_url">
						<span style="max-width:200px;" class="overflow-text">
							<a href="{{value}}" target="_blank" class="md-primary">{{value}}</a>
						</span>
					</mdt-custom-cell>
					<mdt-custom-cell layout="row" column-key="AppIconUrl">
						<img width="50" height="50" ng-src="{{value.length > 0 ? value : 'http://placehold.it/50x50/333333/ffffff?text=no-image' }}" class="appIcon" />
					</mdt-custom-cell>
					<mdt-custom-cell layout="row" column-key="Description">
						<span class="overflow-text" ng-class="{true: 'overflow-text--is-closed', false: 'overflow-text--is-open'}[!close]" ng-bind-html="value" style=""></span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="DateExpiration">
						<div style="width:180px;">{{value | date:"dd/MM/yyyy 'at' h:mma" }}</div>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="Status">
						<span ng-class="{'text-disable': value == 'Inactive', 'text-enable': value ==  'active'}">{{value}}</span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="default_payout">
						<span>{{value | number:2}}</span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="PayoutCap">
						<span>{{value | number:2}}</span>
					</mdt-custom-cell>
					<mdt-custom-cell column-key="ConversionCap">
						<span>{{value | number:2}}</span>
					</mdt-custom-cell>
				</mdt-table>
			</div>
		</md-content>
	</section>
</main>
<script type="text/ng-template" id="toast-template.html">
	<md-toast class="copy-text">
		<span flex style="text-transform:uppercase;">Text successfully copied.</span>
	</md-toast>
</script>
