﻿
<md-content flex ng-controller="searchPanelOffersController as spCtrl" style="overflow-x:hidden;">
	<md-card>
		<md-card-content>
			<md-subheader id="search-sub-header" class="md-primary" layout="row">
				<div layout="row">
					<div layout="row" flex>
						<form style="width:100%;">
							<md-chips md-on-add="spCtrl.onAdd()" md-on-remove="spCtrl.onRemove()" ng-model="spCtrl.Tags" placeholder="name">
								<md-chip-template style="padding:0;">
									<strong>{{$chip}}</strong>
								</md-chip-template>
							</md-chips>
						</form>
					</div>
					<div layout="row" flex="10" layout-align="center center">
						<span flex></span>
						<span style="text-transform:uppercase;margin-left:5px;">search</span>
						<md-button class="md-icon-button"
											 aria-label="More"
											 ng-click="searchOpen = !searchOpen">
							<md-icon ng-class="{rotated:  searchOpen}">expand_more</md-icon>
						</md-button>
					</div>
				</div>
			</md-subheader>
			<div layout="row" class="expandable-search" ng-class="searchOpen ? 'search-open' : ''" ng-show="searchOpen">
				<div layout="row" flex>
					<div layout="column" flex="20">
						<md-select ng-change="spCtrl.onNetworkChange()" placeholder="network" ng-model="spCtrl.preferredNetwork" style="font-size:1.6rem">
							<md-option ng-value="">
								[all]
							</md-option>
							<md-option ng-value="network" ng-repeat="network in Networks.Networks">
								{{network.Name}}
							</md-option>
						</md-select>
					</div>
					<span flex="5"></span>
					<div layout="column" flex="20">
						<md-select ng-change="spCtrl.onCountryChange()" placeholder="country" ng-model="spCtrl.preferredCountry" style="font-size:1.6rem">
							<md-option ng-value="">
								[all]
							</md-option>
							<md-option ng-value="country" ng-repeat="country in Countries">
								{{country}}
							</md-option>
						</md-select>
					</div>
					<span flex="5"></span>
					<div layout="column" flex="10">
						<md-select ng-change="spCtrl.onOSChange()" placeholder="os" ng-model="spCtrl.preferredOS" style="font-size:1.6rem">
							<md-option ng-value="">
								[all]
							</md-option>
							<md-option ng-value="os" ng-repeat="os in OSS">
								{{os.Name}}
							</md-option>
						</md-select>
					</div>
					<span flex="5"></span>
					<div layout="column" flex="20">
						<md-input-container style="font-size:1.6rem" class="md-input-container-no-error-spacer">
							<label>id</label>
							<input ng-change="spCtrl.onIDChange()" type="number" ng-model="spCtrl.preferredID" />
						</md-input-container>
					</div>
					<span flex="5"></span>

					<div layout="column" flex="">
						<md-select multiple="true" md-on-close="spCtrl.onRequestStatusChange()" placeholder="request status" ng-model="spCtrl.preferredRequestStatus" style="font-size:1.6rem">
							<md-option ng-value="cr" ng-repeat="cr in OfferRequestStatuses">
								{{cr.Name}}
							</md-option>
						</md-select>
					</div>

				</div>
			</div>
		</md-card-content>
	</md-card>
</md-content>
