/*
 * SMACSS + BEM STRUCTURE v1.1
 * Author: @satuweb
 *
 * https://github.com/satuweb/smacss-bem-structure
 *
 */


/* Vendor */

/* 
** SuperGIGI Framework http://objectway.github.io/super-gigi/index.html
*/
//Custom Settings:
$use-bem: true;
$row-width: rem-calc(1920);// row max-width;
$debug: true;
/*
default breakpoints: 
xxsmall: 0px 
xsmall: 480px
small: 640px
medium: 720px
large: 1024px
xlarge: 1280px
xxlarge: 1440px
*/

@import '../node_modules/super-gigi/dist/_main';

/*
** Bootstrap
*/ 
//@import "vendor/bootstrap-sass/bootstrap";


/*
** Materialize by Google
*/ 
//@import 'vendor/materialize/materialize';

/* Base */
@import 'base';

/* Layouts */
@import 'layout';

/* Modules */
@import 'modules';


/* State */
@import 'state';

/* Themes */
@import 'themes';

/* Template */
@import 'template';
